<?xml version="1.0"?>
<model>
  <name>small-field</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>Kylie H</name>
    <email>kmherbstzuber@wpi.edu</email>
  </author>
  <description>
    One of the small 3002 fields.
  </description>
  <ros>
    <version>jazzy</version>
  </ros>
</model>